* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.comment-main {
    background-color: #F1FAEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-main > .container {
    background-color: #FFDDD2;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 70%;
    border: solid 1rem #A8DADC;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.form > div {
    width: 90%;
}

.comment-main h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #E63946;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form>.name-div>input[type="text"],
.form>.comment-div>textarea,
.form>.name-div>input[type="text"]:focus,
.form>.comment-div>textarea:focus {
    width: 100%;
    border: 1px solid var(--light-pink-color);
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    margin-top: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #F1FAEE;
    outline: none;
}

.form > .name-div > input {
    margin-bottom: 0;
}

textarea {
    resize: none;
    height: 150px;
}

.anonymous-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 1.5rem;
    color: var(--icon-color);
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin: 10px 0;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
}

button {
    border: none;
    padding: 12px 24px;
    margin: 0.4rem;
    background-color: #E63946;
    color: #fff;
    border-radius: 25px;
    font-size: 1.2em;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.421);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: translateY(2px);
}

.message p {
    color: #fff;
    font-size: 2rem;
}

.no-underline {
    text-decoration: none;
    color: #FFF;
}

@media only screen and (max-width: 600px) {
    .comment-main {
        padding: 0.5rem;
    }

    .comment-main > .container {
        padding: 1rem;
        width: 80%;
    }

    .comment-main h2 {
        font-size: 1.8rem;
        margin-bottom: 0.8rem;
    }

    input[type="text"],
    textarea {
        font-size: 1rem;
        padding: 8px;
    }

    textarea {
        height: 100px;
    }

    .anonymous-label {
        font-size: 0.8rem;
    }

    .comment-main>.container>.form>.button-container>button {
        font-size: 1rem;
        padding: 8px 15px;
    }

    .message p {
        font-size: 1.5rem;
    }
}