body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-gap: 20px;
  padding: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.259);
  padding: 20px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.recipe-list {
  list-style-type: none;
  padding: 0;
}

.recipe-list li {
  margin-top: 10px;
}

.recipe-list h3 {
  font-size: 2em;
  margin: 10px 0;
}


button {
  background-color: #063a6b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #008f94;
}

.header-top {
  background-image: url("../public/kelvin-han-a-niLBbZF4o-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;

  padding: 10rem;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.577);


}

.header-title {
  font-size: 5em;
  color: white;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.nav {
  margin: 0 auto;
}

.category {
  padding: 10px;
  background-color: #214663;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 10px;
  font-size: 1.5em;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.595);
}

.category:hover {
  transform: translateY(-2px);
}

.search-div {

  display: flex;
  justify-content: center;
}

.search-div input[type="text"] {
  border-radius: 10px;
  padding: 0.8rem;
  width: 50%;
  margin: 0.5rem;
  font-size: 1.5em;
}

.search-button {
  background-color: #006756;
  height: 4em;
  padding: 20px;
  font-size: 1rem;
  margin: 1rem;
  width: 8rem;
  border-radius: 10px;
  cursor: pointer;

}

.search-button:active {
  transform: translateY(2px);
}

.nav-list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.footer {
  color: rgb(255, 255, 255);
  background-color: #013c68;
  padding: 2em;
  font-size: 2rem;
  text-align: center;
}