.landing-main>h2 {
    font-size: 2rem;
    background-color: var(--primary-accent);
    padding: 2rem 0 0.5rem 0;
    margin: 0;
    text-align: center;
}

.landing-main > p {
    font-size: 1.2rem;
    background-color: var(--primary-accent);
    color: #585858;
    text-align: center;
}

.landing-main > div > p {
    font-size: 1.5rem;
    background-color: #f8d7da;
    text-align: center;
    padding: 1rem 0;
    color: #721c24;
}

.body>.landing-main>.card-container {
    background-color: var(--primary-accent);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1.5rem;
    padding: 2em;
    margin-top: 0;
}

/* ------ Scroll-to-Top function ------ */

.landing-main {
    position: relative;
}

.scroll-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.scroll-container:before {
    /*  to hide the button when page first loaded  */
    content: '';
    display: block;
    height: 100vh;
    pointer-events: none;
}

.scroll-container a {
    /*   fixed to right bottom of page  */
    position: sticky;
    top: 88vh;
    cursor: pointer;
    font-size: 14px;
}

.scroll-container a span {
    font-size: 1.2rem;
}

.scroll-button {
    padding: 0.8rem;
    text-decoration: none;
    background-color: var(--hover-color);
    color: var(--white-color);
    margin-bottom: 0.4rem;
}

@media screen and (max-width: 600px) {
    .landing-main>h2 {
        font-size: 1.5rem; 
        padding: 1.5rem 0 0 0;
    }

    .landing-main>p {
        font-size: 1rem; 
    }

   .body>.landing-main>.card-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        grid-gap: 15px;
        padding: 10px;
    }

    .scroll-container a {
        font-size: 12px;
    }

    .scroll-container a span {
        font-size: 1rem; 
    }

    .scroll-button {
        padding: 0.6rem; 
        margin-bottom: 0.3rem;
    }
}

@media only  screen and ((min-width: 601px) and (max-width: 880px)) {
    .landing-main>h2 {
        font-size: 1.5rem; 
        padding: 1rem 0 0 0;
    }

    .landing-main>p {
        font-size: 1rem; 
    }

   .body>.landing-main>.card-container {
        grid-template-columns: repeat(1, minmax(200px, 1fr)); 
        grid-gap: 15px;
        padding: 1em 9em;
    }

    .scroll-container a {
        font-size: 12px;
    }

    .scroll-container a span {
        font-size: 1rem; 
    }

    .scroll-button {
        padding: 0.6rem; 
        margin-bottom: 0.3rem;
    }
}