.card {
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.259);
    padding: 20px;
    transition: transform 0.3s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    max-height: 200;
    border-radius: 10px;
}

.recipe-list {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.recipe-list li {
    margin-top: 10px;
}

.recipe-list h3 {
    font-size: 1.3em;
    margin: 10px 0;
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
    background-color: #33333311;
    padding: 0.5rem;
    border-radius: 10px;
    height: auto;

    transition: 0.2s;
}

.details > p:nth-child(1) {
    display: flex;
    align-content: flex-end;
    gap: 8px;
}

.details > p:nth-child(1) > span{
    align-content: flex-end;
}

.difficulty-level {
    display: flex;
    gap: 10px;
}

.difficulty-text {
    align-content: flex-end;
}

.difficulty-bars {
    display: flex;
    gap: 3.5px; /* Mellanrum mellan staplarna */
}
  
.bar {
    width: 5px;
    height: 22px;
    background-color: lightgray; /* Tom stapel */
}
  
.bar.filled {
    background-color: #013c68; /* Fylld stapel */
}

/* Time icon */
.details svg {
    color: #013c68;
    font-size: 1.4em;
} 

.details:hover {
    transform: scale(1.1);
}

.stars {
    color: #ec9b19;
    font-size: 2em;
}