@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-accent: rgba(0, 255, 255, 0.078);
  --secondary-accent: #013c68;
  --button-color: #ec9b19;
  --hover-color: #008f94;
  --white-color: rgb(255, 255, 255);
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

button {
  background-color: var(--button-color);
  color: var(--white-color);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--hover-color);
}
