* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: rgba(229, 174, 243, 0.79);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}

.container {
    background-color: rgba(0, 255, 255, 0.371);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
    padding: 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    margin-bottom: 2rem;
}

input[type="text"], textarea {
    width: 100%;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

textarea {
    resize: none;
    height: 150px; 
}

.anonymous-label {
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin: 10px 0;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
}

button {
    background-color: #ec9b19;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 1rem;
}

button:hover {
    background-color: #008f94;
    transform: scale(1.05);
}

button:active {
    transform: translateY(2px);
}

.message p {
    color: #fff;
    font-size: 2rem;
}

.no-underline {
    text-decoration: none;
    color: #FFF;
}

@media (max-width: 768px) {
    
    .container {
        padding: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    input[type="text"], textarea {
        font-size: 0.9rem;
    }

    button {
        font-size: 1rem;
    }
}
