.search-container {
    display: flex;
    justify-content: center;
    /* to center horizontally */
    background-color: #FFDDD2;
}

.search-div {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 40%;
    align-items: center;
    /* to center the items vertically */
}

.search-div>input[type="text"] {
    width: 100%;
    padding: 0.8rem 2.5rem 0.8rem 0.8rem;
    /* padding for the icon space */
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    /* so that the padding doesn't affect width */
    margin-bottom: 0;
}



.search-icon {
    position: absolute;
    right: 1rem;
    margin-top: 1.5em;
    transform: translateY(-50%);
    /* center the icon vertically */
    color: var(--light-grey-icon);
    font-size: 1.2rem;
    pointer-events: none;
}

@media only screen and (max-width: 678px) {
    .search-div {
        max-width: 70%;
    }

    .search-div>input {
        max-width: 100%;
        font-size: 0.8rem;
        margin-bottom: 0;
    }

    .search-icon {
        font-size: 0.9rem;
    }
}